.eventual-circle {
    display: none;
}

.circle-page-wrap {
    background: rgb(0,0,0) url(../../assets/mp-breath-bg.png) 40% 50% no-repeat fixed;
    background-size: 86% 87%;
    width: 100%;
    height: 100vh;
    opacity: 0.82;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .circle-wrap {
    width: 200px;
    height: 200px;
    background: -webkit-linear-gradient(right top, crimson 0%, #f90 100%);
    border-radius: 50%;
    padding: 10px;
    animation: ocean-breath 7s linear infinite alternate;
    z-index: 22;
    transform: rotateZ(290deg);
} */

.ocean {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    /* border-width: 150px;
    border-style: solid;
    border-image-source: linear-gradient(
        180deg, rgb(0, 143, 104), rgb(250, 224, 66)
    ); */
    /* background: transparent; */
    border-radius: 50%;
    z-index: 20;
}

.fire {
    width: 200px;
    height: 200px;
    /* border-width: 150px;
    border-style: solid;
    border-image: -webkit-linear-gradient(
        180deg, rgb(0, 143, 104), rgb(250, 224, 66)
    ); */
    border: 10px solid black;
    /* background: transparent; */
    border-radius: 50%;
    z-index: 20;
    animation: fire-prep 5s linear 1,
            fire-prep 5s 5s linear 2 alternate-reverse,
            fire-breath 0.7s 15.5s linear 120 alternate;
}

.alternate {
    width: 200px;
    height: 200px;
    /* border-width: 150px;
    border-style: solid;
    border-image: -webkit-linear-gradient(
        180deg, rgb(0, 143, 104), rgb(250, 224, 66)
    ); */
    border: 10px solid black;
    /* background: transparent; */
    border-radius: 50%;
    z-index: 20;
    /* animation: right-nose 7s linear infinite alternate; */
    animation: left-nose 7s linear infinite alternate;
}

@keyframes ocean-breath {
    from {
        height: 200px;
        width: 200px;
    }
    to {
        height: 650px;
        width: 650px;
    }
}

/* 2 iterations of normal breath to prep */
@keyframes fire-prep {
    from {
        height: 200px;
        width: 200px;
    }
    to {
        height: 650px;
        width: 650px;
    }
}

@keyframes fire-breath {
    from {
        height: 650px;
        width: 650px;
    }
    to {
        height: 550px;
        width: 550px;
    }
}

@keyframes right-nose {
    from {
        padding-right: 0;
        height: 200px;
        width: 200px;
    }
    to {
        margin-left: 400px;
        width: 600px;
        height: 300px;
    }
}

@keyframes left-nose {
    from {
        padding-left: 0;
        height: 200px;
        width: 200px;
    }
    to {
        margin-right: 400px;
        width: 600px;
        height: 300px;
    }
}