.eventual-circle {
    display: none;
}

.circle-page-wrap {
    background: rgb(0,0,0) url(../../assets/mp-breath-bg.png) 40% 50% no-repeat fixed;
    background-size: 86% 87%;
    width: 100%;
    height: 100vh;
    opacity: 0.82;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .circle-wrap {
    width: 200px;
    height: 200px;
    background: -webkit-linear-gradient(right top, crimson 0%, #f90 100%);
    border-radius: 50%;
    padding: 10px;
    animation: ocean-breath 7s linear infinite alternate;
    z-index: 22;
    transform: rotateZ(290deg);
} */

.ocean {
    width: 200px;
    height: 200px;
    /* border: 10px solid black; */
    border: 10px solid #383627;
    /* border-width: 150px;
    border-style: solid;
    border-image-source: linear-gradient(
        180deg, rgb(0, 143, 104), rgb(250, 224, 66)
    ); */
    /* background: transparent; */
    border-radius: 50%;
    z-index: 20;
    /* animation: ocean-breath 7s linear infinite alternate; */
}

.fire {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 50%;
    z-index: 20;
    animation: fire-breath 115s linear 3
}

.alternate {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 50%;
    z-index: 20;
}

@keyframes fire-pulse {
    from {
        height: 650px;
        width: 650px;
    }
    to {
        height: 550px;
        width: 550px;
    }
}

@keyframes fire-breath {
    0%, 8.695%, 100% {
        height: 200px;
        width: 200px;
    }
    4.34%, 13.04%, 95.65%{
        height: 650px;
        width: 650px;
    }
    /* 0%, 8.7%, 8.72%, 98.2%, 100% {
        height: 200px;
        width: 200px;
    }
    4.34%, 4.4%, 13.04%, 95.65%{
        height: 650px;
        width: 650px;
    } */
    /* 13.05%{
        animation: fire-pulse 0.7s linear infinite alternate;
        animation-play-state: running;
    } */
}