
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    border: 1px solid palegreen;
    gap: 10px;
    /* background-color: palegreen; */
}

.radio-button-group {
    display: flex;
    flex-direction: column;
}

.breath-specific-options {
    display: flex;
    width: 420px;
}

.breath-descriptor{
    width: 486px;
}

.inactive-submit {
    display: none;
    margin-top: 20px;
}

.show-submit {
    display: block;
    margin-top: 20px;
}