body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.page-wrapper {
    background: rgb(0,0,0) url(../../assets/dp_backgroundimg.jpg) 0% 48% no-repeat fixed;
    background-size: cover;
    height: 99%;
    width: 100%;
    opacity: 0.88;
}
.modal {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 82vh;
    width: 89%;
    border: 1px solid palegreen;
    gap: 20px;
    margin: 70px;
    /* background-color: palegreen; */
}

.radio-button-group {
    display: flex;
    flex-direction: column;
}

.breath-specific-options {
    display: flex;
    width: 420px;
}

.breath-descriptor{
    width: 486px;
}

.inactive-submit {
    display: none;
    margin-top: 20px;
}

.show-submit {
    display: block;
    margin-top: 20px;
}