.modal {
    display: none;
    position: absolute;
    height: 100%;
    width: 100% ;
    z-index: 100;
    background-color: rgba(42, 43, 43, 0.555);
}

.modal-content {
    display: flex;
    justify-content: space-between;
    align-self: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    position: fixed;
    border: 1.3px solid;
    height: calc(100vh - 18%);
    width: calc(100vw - 23%);
    box-shadow: 5px 10px 18px rgb(72, 146, 105);
    z-index: 101;
    background-color: rgba(24, 16, 1, 0.658);
    overflow-y: auto;
    overflow-x: hidden;
}

.about-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-right: calc(5% + 15px);
}

.iconify {
    font-size: 50px !important;
    color: whitesmoke;
    padding: -15px;
}

.iconify:hover {
    font-size: 51.5px !important;
    color:rgb(233, 219, 95)
}

.in-breath-about {
    max-height: calc(90% - 5vh);
    min-height: calc(20% + 10vh);
    width: 64%;
    letter-spacing: 0.1em;
    color: whitesmoke;
    margin: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16.9px;
    margin-left: calc(2.7% + 13vh);
    margin-right: calc(2.7% + 13vh);
    margin-top: calc(2.7% + 5vh);
    margin-bottom: calc(2.7% + 5vh);
}