.modal {
    display: none;
    position: absolute;
    height: 100%;
    width: 100% ;
    z-index: 100;
    background-color: rgba(42, 43, 43, 0.555);
}

.modal-content {
    display: flex;
    justify-content: space-between;
    align-self: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    position: fixed;
    border: 1.3px solid;
    height: calc(100vh - 25%);
    width: calc(100vw - 27%);
    box-shadow: 5px 10px 18px rgb(72, 146, 105);
    z-index: 101;
    background-color: rgba(26, 2, 2, 0.575);
    overflow: auto;
}

.about-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-right: calc(5% + 15px);
}

.iconify {
    font-size: 50px !important;
    color: whitesmoke;
    padding: -15px;
}

.iconify:hover {
    font-size: 51.5px !important;
    color:rgb(233, 219, 95)
}

.current-animation-descriptor {
    margin: calc(20vh + 7%);
    width: calc(50vw - 40%);
    /* margin-top: 8%; */
    color: whitesmoke;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}